module.exports = {
    target: 'http://127.0.0.1:80',  // The target server

    namespace: 'secureproxy',       // Alphanumeric

    user: 'www',                    // Drop privileges to these
    group: 'www',

    otp: {                          // One Time Password (OTP)
        enable: true,
        name: 'Secure Proxy',       // Google Authenticator account name
    },                              // (will be visible to user)

    email: {
        host: '127.0.0.1',          // SMTP server
        port: 25,
        ssl: false,
        from: 'www@localhost',      // 'From' header of email sent by proxy
    },

    ssl: {                          // Ignored if HTTPS is not enabled
        key: '/etc/certs/server.unencrypted.key',
        cert: '/etc/certs/server.crt',
    },
};
