module.exports = {
    target: 'http://127.0.0.1:80',  // The target server

    namespace: 'secureproxy',       // Alphanumeric

    user: 'www',                    // Drop privileges to these
    group: 'www',

    http: {
        enable: true,               // Enable HTTP proxy
        host: 'example.com',        // Listen on this ip/address
        port: 80,
        base_url: 'http://example.com', // Used to construct password reset email URLs
    },

    https: {
        enable: false,              // Enable HTTPS proxy
        host: 'example.com',        // Listen on this ip/address
        port: 443,
        base_url: 'https://example.com', // Used to construct password reset email URLs
        key: '/etc/certs/server.unencrypted.key',
        cert: '/etc/certs/server.crt',
    },

    session: {
        lifetime: 24 * 60 * 60,     // Session life time (seconds)
        gc_probabilty: 15,          // Garbage collection probability (0-100%)
        ip_protection: false,       // The session will not work if source IP address changes
    },

    otp: {
        enable: true,               // Enable One Time Password (OTP)
        name: 'Secure Proxy',       // Google Authenticator account name
    },                              // (will be visible to user)

    ldap: {
        enable: false,              // Enable LDAP auth
        url: 'ldap://192.168.0.1',  // The server
        domain: 'HQ',
        users_group: 'ou=users, ou=company, dc=hq, dc=company, dc=local',
        email_attr_name: 'mail',    // Retrieve user email address
    },

    email: {
        host: '127.0.0.1',          // SMTP server
        port: 25,
        ssl: false,
        from: 'www@localhost',      // 'From' header of email sent by proxy
    },
};
