module.exports = {
    target: 'http://127.0.0.1:80',  // The target server

    namespace: 'secureproxy',       // Alphanumeric

    user: 'www',                    // Drop privileges to these
    group: 'www',

    otp: {
        enable: true,               // Enable One Time Password (OTP)
        name: 'Secure Proxy',       // Google Authenticator account name
    },                              // (will be visible to user)

    email: {
        host: '127.0.0.1',          // SMTP server
        port: 25,
        ssl: false,
        from: 'www@localhost',      // 'From' header of email sent by proxy
    },

    http: {
        enable: true,               // Enable HTTP proxy
        host: 'example.com',
        port: 80,
        base_url: 'http://example.com', // Used to construct password reset email URLs
    },

    https: {
        enable: false,              // Enable HTTPS proxy
        host: 'example.com',
        port: 443,
        base_url: 'https://example.com', // Used to construct password reset email URLs
        key: '/etc/certs/server.unencrypted.key',
        cert: '/etc/certs/server.crt',
    },
};
