body {
    background-color: #aaaaaa;
}

.centered-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
}
.centered {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.centered > * {
    text-align: left;
}

.required-marker {
    display: block;
    vertical-align: super;
    font-size: 65%;
}

.icon-list li {
    padding: 0 0 5px 20px;
    display: block;
    position: relative;
}
.icon-list li:before {
    font-family: 'Glyphicons Halflings';
    position: absolute;
    left: 0px;
    top: 3px;
    font-size: 80%;
}
.error-list li:before {
    content: '\e090';
}

#login-form {
    display: none;
    background-color: #ffffff;
    border: 1px solid #999999;
    box-shadow: 0 0 8px #333333;
    padding: 60px 50px 30px 50px;
}
.localization {
    position: absolute;
    right: 15px;
    top: 5px;
}
.localization .language {
    margin-left: 15px;
}
#login-messages {
    text-align: center;
}
