<div class="centered-wrapper">
    <div class="centered">
        <div class="container">
            <form class="form-horizontal" onsubmit="return false">
                <div class="form-group" ng-class="{ 'has-error': model.login.errors.length }">
                    <label class="col-sm-4 col-md-5 col-lg-5 control-label required">
                        {{ 'USERNAME_LABEL' | glMessage }}:
                       <span class="required-marker text-danger">
                            {{ 'REQUIRED_FIELD' | glMessage | uppercase }}
                        </span>
                    </label>
                    <div class="col-sm-8 col-md-5 col-lg-4">
                        <input type="text" class="form-control" ng-model="model.login.value" focus-on="model.login.focus" on-key-enter="model.password.focus = true"
                               ng-keydown="resetValidation('login')" ng-blur="validate('login')" ng-disabled="processing">
                        <div class="help-block">
                            <ul class="list-unstyled icon-list error-list">
                                <li ng-repeat="message in model.login.errors">{{ message }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': model.password.errors.length }">
                    <label class="col-sm-4 col-md-5 col-lg-5 control-label required">
                        {{ 'PASSWORD_LABEL' | glMessage }}:
                       <span class="required-marker text-danger">
                            {{ 'REQUIRED_FIELD' | glMessage | uppercase }}
                        </span>
                    </label>
                    <div class="col-sm-8 col-md-5 col-lg-4">
                        <input type="password" class="form-control" ng-model="model.password.value" focus-on="model.password.focus" on-key-enter="submit()"
                               ng-keydown="resetValidation('password')" ng-blur="validate('password')" ng-disabled="processing">
                        <div class="help-block">
                            <ul class="list-unstyled icon-list error-list">
                                <li ng-repeat="message in model.password.errors">{{ message }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
